.lodgingContainer {
    padding-left: 100px;
    padding-right: 100px;
    color: #FF6060;
}

.lodgingDescription {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
}

.lodgingTitle {
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    margin: 0;
}

.lodgingLocation {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.leftContent {
    max-width: 75%;
}

.rightContent {
    min-width: 20%;
}

.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hostName {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 26px;
    margin-right: 10px;
    text-align: right;
}

.hostPicture {
    border-radius: 50%;
    width: 64px;
}

.collapsesContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
    margin-bottom: 14px;
    margin-top: 24px;
}

.collapsesContainer > * {
    width: 47%;
}


/* media queries */

@media (max-width: 768px) {
    .lodgingContainer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .leftContent {
        max-width: 100%;
    }

    .rightContent {
        min-width: 100%;
    }

    .lodgingDescription {
        flex-direction: column;
    }

    .lodgingTitle {
        font-size: 30px;
        line-height: 36px;
    }

    .lodgingLocation {
        font-size: 16px;
    }

    .rightContent {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px;
    }

    .hostPicture {
        width: 48px;
    }
    .hostName {
        font-size: 16px;
        line-height: 20px;
    }
    .collapsesContainer {
        flex-direction: column;
    }
    .collapsesContainer > * {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
    .lodgingContainer {
        padding-left: 35px;
        padding-right: 35px;
    }

    .lodgingTitle {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 425px) {
    .lodgingContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 375px) {
    .lodgingTitle {
        font-size: 18px;
        line-height: 26px;
    }

    .lodgingLocation {
        font-size: 14px;
        line-height: 20px;
    }

    .rightContent {
        margin-top: 16px;
    }

    .hostPicture {
        width: 32px;
    }
    
    .hostName {
        font-size: 12px;
        line-height: 17px;
    }
}