.bannerContainerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 223px;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 43px;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
    url('../assets/bannerHome.png');
    background-size: cover;
}

.bannerContainerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 223px;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 43px;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)),
    url('../assets/bannerAbout.png');
    background-size: cover;
}

.bannerContainerHome p {
    color: #fff;
    font-size: 48px;
    text-align: center;
}


/* media queries */

@media (max-width: 1024px) {
    .bannerContainerHome p {
        font-size: 38px;
        bottom: 140px;
    }
}

@media (max-width: 768px) {
    .bannerContainerHome {
        height: 193px;
        margin-bottom: 22px;
    }

    .bannerContainerHome p {
        font-size: 28px;
        bottom: 115px;
    }
}

@media (max-width: 575px) {
    .bannerContainerHome {
        height: 150px;
    }

    .bannerContainerHome p {
        font-size: 24px;
        bottom: 90px;
    }
}

@media (max-width: 425px) {
    .bannerContainerHome {
        height: 111px;
        justify-content: flex-start;
    }
    
    .bannerContainerHome p {
        line-height: 24px;
        bottom: 80px;
        text-align: start;
        margin-left: 16px;
        width: 217px;
    }
}