.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.footerContainer img {
    background-image: #fff;
    width: 122px;
    padding-top: 66px;
    padding-bottom: 20px;
}

p {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 29px;
}