.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    max-width: 1440px;
    margin: auto;
}

nav {
    display: flex;
}

.nav-link {
   padding-left: 57px;
   font-size: 24px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   line-height: 34px;
   color: #FF6060;
   text-decoration: none;
}

.active {
    text-decoration: underline;
}

.smallLogo {
    display: none;
}


/* media queries */

@media (max-width: 768px) {
    .headerContainer {
        padding: 40px 50px;
    }

    .nav-link {
        padding-left: 29px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .largeLogo {
        display: none;
    }

    .smallLogo {
        display:flex;
    }
}

@media (max-width: 575px) {
    .nav-link {
        font-size: 13px;
        padding-left: 14px;
    }
}

@media (max-width: 425px) {
    .nav-link {
        font-size: 12px;
        padding-left: 10px;
    }

    .headerContainer {
        padding: 20px 20px;
    }
}

@media (max-width: 350px) {
    .nav-link {
        font-size: 10px;
    }
}