.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    max-width: 1440px;
    margin: auto;
}

nav {
    display: flex;
}

.nav-link {
   padding-left: 57px;
   font-size: 24px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   line-height: 34px;
   color: #FF6060;
   text-decoration: none;
} 